/*css file for Assignment 02*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 992px;
     height: auto;
    border:2px solid blue;
    margin:0px auto;
    background: #000000;
    
}

.head-section{
    background: #212121;
    border: 2px solid red;
    width: 980px;
    height: auto;
   
}

nav{
    display: flex;
    justify-content: space-around;
    border:2px solid pink;
    margin-left: 0%;
   align-items: center;
    
}
.head-text{
    color:#8D3A2D;
    font-style: italic;
    font-size:25px;
    padding: 5px;
   
}
nav a{
    text-decoration: none;
    color: white;
    border: 2px dotted #171717;
    text-align: right;
    border-radius: 50%;
    padding: 5px;
    font-size:15px;
    
    
    
   
    
    
}
.link-color{
    background:#8D3A2D; 
    padding: 5px;;
    border-radius: 10px;
}

.club{
    color: white;
    font-size:20px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 40px;
}

.text-btn{
    font-size: 16px;
    color:#484848 ;

    line-height: 15px;
    margin-bottom: 15px;
    margin-top: 30px;

}
.bold-text {
    margin-right: 15px;
    font-size: 50px;
    color: white;
    line-height: 50px;
}
.load{
    color:white;
    font-size: 20px;
    border: 1px solid white;
    padding: 20px;
    background: #0F0F0F;
    border-radius: 40px;
}
    
        
    


.text-container{
    display: flex;
    justify-content: space-between;
    
}
            
.Sndsection{
    text-align: center;
    background: #000000;
    

}




.inner-text{
    margin:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 15px;
    color: #484848;
}

.heading3{
    font-size: 25px;
    color:white;

   
}
.img-container img{
margin-right: 15px;
width: 200px; 
   border-radius: 50%;
   height: 200px;
   margin-top: 10px;
   margin-bottom:50px

}



.our_team{
    width: 700px;
    height: 450px;
    border: 5px solid violet;
    margin: 20px auto;
    margin-bottom: 5px;
}
.our_team img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    margin: 5px;

    
    
    
    

}
.team_heading{
    color: white;
    text-align: center;
    font-size: 30px;

}
.img_bg{
    background: #222222;
    border-radius: 15px;
    padding: 5px;
}
.description{
    color: #6C6C6C;
    text-align: center;
    line-height: 15px;
    margin: 10px;

}
.coppyright{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    background: #222222;

}
hr{
    background: #222;
}
.run-container{
    color:white;
    display: flex;
    border: 5px dotted yellow;
    justify-content: space-around;
    background: #222222;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
   
    
}
.run-container img{
    width:250px;
    height: 250px;
    border-radius: 20px;
    
}
.run-heading{
    font-size: 50px;
}
.run-text{
    font-size: 16px;
    margin: 10px;
    margin-bottom: 10px;
    color:#6C6C6C;
    line-height: 15px;
}
.run-btn{
    color: white;
    font-size: 20px;
    background: #E6533C;
    padding: 5px;
    border-radius: 20px;
    width: 250px;
    height: 75px;
    text-align: center;
    margin-top: 20px;

}