/*css file for Assignment 02*/
/*universal code for web page */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* htm body style code*/
body{
    width: 992px;
     height: auto;
    border:2px solid blue;
    margin:0px auto;
    background: #000000;
    /*body part code end*/
    
}


 
.baner-headings{
    /* styling code for header banner image text*/

  color:white;
  
  font-size: 50px;
  line-height: 40px;
  width: 280px;
  margin-top: 50px;
border: 2px solid rebeccapurple;
background: #222222;
margin-bottom: 25px;
   /*banner text part end*/
    
    
   
   
   

    
}

.baner-img{
    /*banner image style code*/
    
    border-radius: 20%;
    
    width: 350px;
    height:300px;
    margin-top: 50px;
   background: #202020;
   /* style end*/
}

.header-wraper{
    /*flex container for banner content*/
    border: 10px solid navajowhite;
    height: 400px;
    width: 992px;
    display: flex;
    justify-content: space-between;
    background: #212121;
    /*banner raper end*/

    
}
nav{
    /* Navigation bar*/
  
    border:2px solid pink;
    margin-left: 0%;
    display: flex;
    justify-content: end;
    background: #141414;
  
    
}
.nav-text{
    color:#8D3A2D;
    font-style: italic;
    font-size:25px;
    padding: 5px;
    margin-right: 550px;
   
}
nav a{
    text-decoration: none;
    color: white;
    
    border-radius: 5%;
    padding: 5px;
    font-size: 18px;
   
    margin-right: 20px;
    
    
   /* navigation section design end/*
    
    
}
/*home button color add style */
.link-color{
    background:#8D3A2D; 
    padding: 5px;;
    border-radius: 10px;
    /*end*/
}

.club{
    /* join our club button style*/
    color: white;
    font-size:20px;
    margin-right: 15px;
    padding: 20px;
    border-radius: 40px;
    /*end*/
}
.btn-wrap{
    
}

.text-btn{
    font-size: 16px;
    color:#484848 ;

    line-height: 15px;
    margin-bottom: 15px;
    margin-top: 30px;

}
.bold-text {
    margin-right: 15px;
    font-size: 50px;
    color: white;
    line-height: 50px;
}
.load{
    color:white;
    font-size: 20px;
    border: 1px solid white;
    padding: 20px;
    background: #0F0F0F;
    border-radius: 40px;
}
    
        
    


.text-container{
    display: flex;
    justify-content: space-between;
    
}
            
.Sndsection{
    text-align: center;
    background: #000000;
    

}




.inner-text{
    margin:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 15px;
    color: #484848;
}

.heading3{
    font-size: 25px;
    color:white;

   
}
.img-container img{
margin-right: 15px;
width: 200px; 
   border-radius: 50%;
   height: 200px;
   margin-top: 10px;
   margin-bottom:50px

}


/*Meet Our team section*/
.our_team{
    width: 700px;
    height: 450px;
    border: 5px solid violet;
    margin: 20px auto;
    margin-bottom: 5px;
}
.our_team img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    margin: 5px;

    
    
    
    

}
.team_heading{
    color: white;
    text-align: center;
    font-size: 30px;

}
.img_bg{
    background: #222222;
    border-radius: 15px;
    padding: 5px;
    /*meet our team section end*/
}
.description{
    color: #6C6C6C;
    text-align: center;
    line-height: 15px;
    margin: 10px;

}
.coppyright{
    /* Copy right section*/
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    background: #222222;

}
hr{
    background: #222;
    /*copy right end*/
}
.run-container{
    /* run a Extra mille section design*/
    color:white;
    display: flex;
    border: 5px dotted yellow;
    justify-content: space-around;
    background: #222222;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
   
    
}
.run-container img{
    width:250px;
    height: 250px;
    border-radius: 20px;
    
}
.run-heading{
    font-size: 50px;
}
.run-text{
    font-size: 16px;
    margin: 10px;
    margin-bottom: 10px;
    color:#6C6C6C;
    line-height: 15px;
}
.run-btn{
    color: white;
    font-size: 20px;
    background: #E6533C;
    padding: 5px;
    border-radius: 20px;
    width: 250px;
    height: 75px;
    text-align: center;
    margin-top: 20px;
    /*run section end*/

}
.s-h{
    font-weight: 400;
    color:red;
    
}

